<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="authmanager.Properties.Settings.ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=authmanager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>